# env file contains confidential credentials like Google api key, etc
.env
# experimentals directory contains test files or notebooks
experiments/

# ignore python cache files
*__pycache__/

# ignore .log files
*.log

# ignore json files used for testing
*.json

# ignore sqlite database files
*.db